* {
  padding: 0;
  margin: 0;
}

body {
  color: whitesmoke;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(2, 2, 20);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

a {
  color: white; 
  text-transform: capitalize;
  text-decoration: none;
  transition: 2s;
}

a:hover { color: lightgreen; transition: 2s; }

/* .component {} */

