* {
  padding: 0;
  margin: 0;
  /*
  box-sizing: border-box;
  */
}

body {
  color: whitesmoke;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(58deg, rgb(44, 62, 78) 0%, rgb(1, 9, 45) 45%, rgb(46, 59, 2) 100%);
  background-size: 500% 100%;
  animation: degAnimation 5s infinite alternate;
}

@keyframes degAnimation {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
}

a {
  color: white; 
  text-transform: capitalize;
  text-decoration: none;
  transition: 2s;
}

a:hover { color: rgb(138, 230, 102); transition: 2s; }

/* .component {} */

