.gameOption {
    border: 2px solid white;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    /* */
    cursor: pointer;
    /* */
    display: flex;
    justify-content: center;
    align-items: center;
}


