.game {
    /* O HTML sempre utiliza o máximo do espaço no layout */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 -> Por espaço! */
    gap: 12px;
}

/* Estiliza o Game.jsx e abarca outros componentes, tal como o GameInfo */
.gameContent {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    align-items: center;
}

/* Responsividade -> Media queries */ 
@media screen and (max-width: 425px) {
    .gameContent {
        flex-direction: column;
    }
}

